[submodule "firmware/SleepAssayController"]
	path = firmware/SleepAssayController
	url = https://github.com/janelia-arduino/SleepAssayController.git
[submodule "hardware/backlight_controller_3x2"]
	path = hardware/backlight_controller_3x2
	url = https://github.com/janelia-kicad/backlight_controller_3x2.git
[submodule "generate_modular_device_documentation"]
	path = generate_modular_device_documentation
	url = https://github.com/janelia-modular-devices/generate_modular_device_documentation.git
[submodule "hardware/sleep_assay_wiring"]
	path = hardware/sleep_assay_wiring
	url = https://github.com/janelia-kicad/sleep_assay_wiring.git
[submodule "firmware/BacklightController"]
	path = firmware/BacklightController
	url = https://github.com/janelia-arduino/BacklightController.git
[submodule "firmware/DigitalController"]
	path = firmware/DigitalController
	url = https://github.com/janelia-arduino/DigitalController.git
